<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa profiilia</title>
  <style>
    body {
      text-align: center;
      font-family: Arial, sans-serif;
    }
    h1, p {
      margin: 20px 0;
    }
    form {
      display: inline-block;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <h1>Muokkaa profiilia</h1>

  <form action="/update_profile" method="post" enctype="multipart/form-data">
    <p>
      Profiilikuva: <br />
      <input type="file" name="profile_image" />
    </p>
    <p>
        Itsestäni: <br />
        <textarea name="bio" rows="5" cols="40">
          {% if user.bio %}
            {{ user.bio }}
          {% else %}
            Käyttäjä ei ole lisännyt biografiaa.
          {% endif %}
        </textarea>
      </p>
    </p>
    <input type="submit" value="Päivitä profiili" />
  </form>

  <hr />
  <p>
    <a href="{{ url_for('profile', user_id=session.user_id) }}">Takaisin profiiliin</a>
  </p>
</body>

</html>